{% extends "base.html" %}

{% block bodyClasses %}
bookView
{% endblock %}

{% block content %}

<h2 class="book-title">{{book.title}} <small>by {{book.author}}</small></h2>
<div class="row">
    <div id="chunk-container" class="chunk-container">
        {% for chunk in book.chunks %}
            <div class="card chunk" data-chunk-id="{{ chunk.id }}" id="card-chunk-{{ chunk.id }}">
                <div class="card-body">
                    <h5 class="card-title chunk-title">#{{ chunk.sequence_number }}</h5>
                    <p class="card-text">{{ chunk.content }}</p>

                    {% if loop.index == 3 %}
                    <div id="chunk-hint" class="popover bs-popover-top show">
                        <div class="popover-arrow"></div>
                        <!-- Always Shown Popover Content -->
                        <div class="popover-content">
                            <p>Click here.</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="generate-scene-container offcanvas offcanvas-end" data-bs-backdrop="false" data-bs-scroll="true" tabindex="-1" id="generate-scene-container" aria-labelledby="generate-scene-container-label">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="generate-scene-container-label"></h5>
      <button id="generate-scene-container-close" type="button" class="btn-close text-reset"></button>
    </div>
    <div class="offcanvas-body">
      <!-- CREATE SCENE -->
      <div class="dropdown mt-12">
        <a class="btn btn-secondary mb-4" data-bs-toggle="collapse" href="#generate-scene-form-container" role="button" aria-expanded="false" aria-controls="generate-scene-form-container">
            Generate a Scene
            <i class="bi bi-chevron-down"></i>
        </a>
        <div class="collapse mb-3" id="generate-scene-form-container">
            <div class="card card-body">
                <div class="row">
                    <form id="generate-scene-form" class="form col col-md-3" action="/scenes/generate">
                        <div class="row mb-3">
                            <div class="col-md-12 mb-1">
                                <label class="form-label">Imagery Style</label>
                                <select class="form-select" name="aesthetic_id">
                                    {% for aesthetic in scene_aesthetics %}
                                    <option value="{{ aesthetic.id }}">{{ aesthetic.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">Prompt Template <a href="#" class="float-end" data-bs-toggle="modal"
                                    data-bs-target="#create-prompt-template-modal">+ new</a></label>
                                <select class="form-select" name="prompt_id" x-data="promptTemplates" x-on:prompt-templates-load.window="templates = $event.detail.templates">
                                    <template x-for="template in templates">
                                        <option x-bind:value=template.id x-text=template.title></option>
                                    </template>
                                </select>
                            </div>
                        </div>
                        <div id="generate-scene-loader" class="spinner-border text-primary" role="status" style="display:none;">
                            <span class="sr-only">...</span>
                        </div>
                        <button type="submit" id="generate-scene-btn" type="button" class="btn btn-primary float-end">Generate</button>
                    </form>
                    <div class="col col-md-9">
                        <div id="generate-scene-error" class="alert alert-warning hide" role="alert">
                            Sorry, scene generation encountered an error. <span class="message"></span>
                        </div>
                        <div id="generate-scene-image-error" class="alert alert-warning hide" role="alert">
                            Sorry, scene image could not be generated due to an error: "<span class="message"></span>"
                        </div>
                        <div id="generate-scene-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h5>Scene Generations</h3>
            <div id="current-scenes-loader" class="spinner-border text-primary" role="status" style="display:none;">
                <span class="sr-only">...</span>
            </div>
            <div id="current-scenes-error" class="alert alert-warning hide" role="alert">
                Sorry, scenes for this chunk could not be loaded due to an error: "<span class="message"></span>"
            </div>
            <div x-data="currentScenes" x-on:scenes-load.window="scenes = $event.detail.scenes" id="current-scenes">
                <div class="accordion">
                    <template x-for="scene in scenes">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button x-text=scene.title class="accordion-button collapsed"
                                    type="button" data-bs-toggle="collapse" x-bind:data-bs-target=[`#scene-container-${scene.id}`]>
                                </button>
                            </h2>
                            <div x-bind:id=[`scene-container-${scene.id}`] class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="card" x-bind:data-scene-id=scene.id>
                                        <div class="card-body">
                                            <h5 class="card-title" x-text="scene.title"></h5>
                                            <p class="card-text" x-text="scene.content"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h5>Scene Imagery</h3>
            <div class="row">
                <div id="scene-images-loader" class=" col-md-12 spinner-border text-primary" role="status" style="display:none;">
                    <span class="sr-only">Images...</span>
                </div>
                <div id="scene-images-error" class="alert alert-warning hide" role="alert">
                        Sorry, images for this scene could not be loaded due to an error : "<span class="message"></span>"
                </div>
            </div>
            <div class="row" x-data="currentSceneImages" x-on:scene-images-load.window="sceneImages = $event.detail.sceneImages" id="current-scene-images">
                <template x-for="image in sceneImages">
                    <div class="col-md-6 scene-image-container mb-2">
                        <a href="#" data-bs-toggle="modal" x-bind:data-bs-target=[`#scene-image-${image.id}`]>
                            <img x-bind:src=[`${image.url}`] class="img-fluid" />
                        </a>
                </template>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block end_content %}
<div id="create-prompt-template-modal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    This template will define the initial prompt to the chatbot which will generate a chain of intermediate prompts for
                    generating scene content and imagery from book chunks.
                </p>
                <p>
                    You can optionally use the <code>{book_title}</code> and <code>{aesthetic}</code> variables to print their values in the prompt.
                </p>
                <p>
                    We will add the rest!
                </p>
                <div id="create-prompt-template-loader" class="spinner-border text-primary" role="status" style="display:none;">
                    <span class="sr-only">...</span>
                </div>
                <div id="generate-scene-success" class="alert alert-success hide" role="alert">
                    Success! You can now select this prompt.
                </div>
                <div id="create-prompt-template-error" class="alert alert-warning hide" role="alert">
                    Sorry, there was an error: <span class="message"></span>
                </div>

                <form id="create-prompt-template-form" class="form" action="/prompt_templates">
                    <div class="row mb-3">
                        <div class="col-md-12 mb-1">
                            <label class="form-label">Title</label>
                            <input placeholder="Sci-Fi Twist" class="form-control" type="text" name="title">
                        </div>
                        <div class="col-md-12">
                            <textarea class="form-control" rows="3" name="content" placeholder="Please regenerate the following contents from {book_title}, with a sci-fi + {aesthetic} twist."></textarea>
                        </div>
                    </div>
                    <button type="submit" id="create-prompt-template-btn" type="button" class="btn btn-primary float-end">Create</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row" x-data="currentSceneImages" x-on:scene-images-load.window="sceneImages = $event.detail.sceneImages" id="current-scene-images">
    <template x-for="image in sceneImages">
        <div x-bind:id=[`scene-image-${image.id}`] class="modal fade modal-lg text-center" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <img x-bind:src=image.url class="img-fluid" />
                    <div class="modal-footer">
                        <a class="float-start" x-bind:download=image.url x-bind:href=image.url target="#">
                            <button type="button" class="btn btn-primary"><i class="bi bi-download"></i> Download</button></a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}